@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@300;400;500;600;700&display=swap');

/* Hidden scrollbar */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
*::-webkit-scrollbar {
  display: none;
}

/* Hide emergent badge */
#emergent-badge {
  display: none !important;
}

.font-heading {
  font-family: 'DM Sans', sans-serif;
}
